<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title"> Add Shop Menu</h4>

            </div>
        </div>

        <div class="row">

            <div class="col-sm-4">
                <label for=""> Menu Name</label>
                
                <select name="" id="" class="form-control">
                    <option value="Choose a option" disabled selected>Choose a option </option>
                    
                </select>
            </div>

            <div class="col-sm-4">
                <label for="">Menu Description </label>
                <input type="text" class="form-control" placeholder="Enter the Menu Description">
            </div>

            <div class="col-sm-4">
                <label for="">Sales Rate </label>
                <input type="number" class="form-control" placeholder="Enter Your Sales Rate">
            </div>

            <div class="col-sm-4">
                <label for="">Discount Percentage </label>
                <input type="number" class="form-control" placeholder="Enter Your Discount Percentage">
            </div>

            <div class="col-sm-4">
                <label for="">Discount Amount </label>
                <input type="number" class="form-control" placeholder="Enter Your Discount Amount">
            </div>

            <div class="col-sm-4">
                <label for="">Product Available time  </label>
                <input type="time" class="form-control" placeholder="Enter the Product Available time">
            </div>

            <div class="col-sm-4">
                <label for="">Product Closing time </label>
                <input type="time" class="form-control" placeholder="Enter the Product Closing time ">
            </div>

            

            <div class="col-sm-4" >
                <label for="">Show / Hide</label>
                <br>
                show
                <input type="radio">
                Hide
                <input type="radio">
            </div>

            <div class="col-sm-4" >
                <label for="">Status</label>
                <br>
                Active
                <input type="radio">
                Inactive
                <input type="radio">
            </div>

            


            <div class="col-sm-12">
                 <button class="btn btn-warning">SUBMIT</button>
            </div>

        </div>
    </div>
</div>

