<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title"> Add Category</h4>

            </div>
        </div>

        <div class="row">

            <div class="col-sm-6">
                <label for="">Category Name</label>
                <input type="text" class="form-control" placeholder="Enter Your Category">
            </div>

            <div class="col-sm-6">
                <label for="">Category Image</label>
                <input type="File" class="form-control" placeholder="Enter Your Category">
            </div>

            <div class="col-sm-6" style="margin-top: 20px;">
                <label for="">Show / Hide</label>
                <br>
                show
                <input type="radio">
                Hide
                <input type="radio">
            </div>

            <div class="col-sm-6" style="margin-top: 20px;">
                <label for="">Status</label>
                <br>
                Active
                <input type="radio">
                Inactive
                <input type="radio">
            </div>

            <div class="col-sm-12">
                 <button class="btn btn-warning">SUBMIT</button>
            </div>

        </div>
    </div>
</div>
