<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title"> Add General Shop Menu</h4>

            </div>
        </div>
        <form [formGroup]="generalshopmenuFormRegistration">
            <div class="row">



                <div class="col-sm-4">
                    <label for=""> Item Quantity </label>
                    <input type="number" class="form-control" placeholder="Enter Your Item Quantity" [(ngModel)]="iquant" [ngClass]="{ 'is-invalid': submitted && f.iquant.errors }" formControlName="iquant">

                    <div *ngIf="submitted && f.iquant.errors" class="invalid-feedback">
                        <div *ngIf="f.iquant.errors.required">Item quantity is required</div>

                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="">Item Price</label>
                    <input type="number" class="form-control" placeholder="Enter Your Item Price" [(ngModel)]="iprice" [ngClass]="{ 'is-invalid': submitted && f.iprice.errors }" formControlName="iprice">

                    <div *ngIf="submitted && f.iprice.errors" class="invalid-feedback">
                        <div *ngIf="f.iprice.errors.required">Item price is required</div>

                    </div>
                </div>


                <div class="col-sm-4">
                    <label for="">Item Sales Rate</label>
                    <input type="number" class="form-control" placeholder="Enter the Item Sales Rate" [(ngModel)]="israte" [ngClass]="{ 'is-invalid': submitted && f.israte.errors }" formControlName="israte">

                    <div *ngIf="submitted && f.israte.errors" class="invalid-feedback">
                        <div *ngIf="f.israte.errors.required">Item sales rate is required</div>

                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="">Item MRP</label>
                    <input type="number" class="form-control" placeholder="Enter the Item MRP" [(ngModel)]="imrp" [ngClass]="{ 'is-invalid': submitted && f.imrp.errors }" formControlName="imrp">

                    <div *ngIf="submitted && f.imrp.errors" class="invalid-feedback">
                        <div *ngIf="f.imrp.errors.required">Item MRP is required</div>

                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="">Item Discount Amount</label>
                    <input type="number" class="form-control" placeholder="Enter the Item Discount Amount" [(ngModel)]="idamount" [ngClass]="{ 'is-invalid': submitted && f.idamount.errors }" formControlName="idamount">

                    <div *ngIf="submitted && f.idamount.errors" class="invalid-feedback">
                        <div *ngIf="f.idamount.errors.required">Item discount amount is required</div>

                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="">Item Discount Percentage</label>
                    <input type="number" class="form-control" placeholder="Enter the Item Discount Percentage" [(ngModel)]="idpercent" [ngClass]="{ 'is-invalid': submitted && f.idpercent.errors }" formControlName="idpercent">

                    <div *ngIf="submitted && f.idpercent.errors" class="invalid-feedback">
                        <div *ngIf="f.idpercent.errors.required">Item discount percentage is required</div>

                    </div>
                </div>

                <div class="col-sm-4" style="margin-top: 20px;">
                    <label for="">Show / Hide</label>
                    <br> show
                    <input type="radio"> Hide
                    <input type="radio">
                </div>

                <div class="col-sm-4" style="margin-top: 20px;">
                    <label for="">Status</label>
                    <br> Active
                    <input type="radio"> Inactive
                    <input type="radio">
                </div>



                <div class="col-sm-12">
                    <button class="btn btn-warning" (click)="submit()">SUBMIT</button>
                </div>

            </div>
        </form>

    </div>
</div>