<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title"> Add Restaurant Menu</h4>

            </div>
        </div>

        <div class="row">

            <div class="col-sm-4">
                <label for=""> Menu Name</label>
                <input type="text" class="form-control" placeholder="Enter Your Menu Name">
            </div>

            <div class="col-sm-4">
                <label for="">Menu Description </label>
                <input type="text" class="form-control" placeholder="Enter the Menu Description">
            </div>

            <div class="col-sm-4">
                <label for="">Menu Type </label>
                
                <select name="" id="" class="form-control">
                    <option value="Choose a option" disabled selected>Choose a option </option>
                    <option value="veg">VEG</option>
                    <option value="non-veg">NON-VEG</option>
                </select>
            </div>

            <div class="col-sm-4">
                <label for="">Course Type </label>
                
                <select name="" id="" class="form-control">
                    <option value="Choose a option" disabled selected>Choose a option </option>
                    <option value="Starter">STARTER</option>
                    <option value="Breakfast">BREAKFAST</option>
                    <option value="Lunch">LUNCH</option>
                    <option value="Dinner">DINNER</option>
                    <option value="Deserts">DESERTS</option>
                </select>
            </div>

            <div class="col-sm-4">
                <label for="">Menu Images </label>
                <input type="file" class="form-control" placeholder="Enter Your Menu Images">
            </div>

            


            <div class="col-sm-12">
                 <button class="btn btn-warning">SUBMIT</button>
            </div>

        </div>
    </div>
</div>

