<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title"> Master Admin Phone number</h4>

            </div>
        </div>

        <div class="row">

            <div class="col-sm-4">
                <label for="">Admin Name</label>
                <input type="text" class="form-control" placeholder="Enter Your Admin Name">
            </div>

            <div class="col-sm-4">
                <label for=""> Admin Phone Number</label>
                <input type="number" class="form-control" placeholder="Enter Your  Admin Phone Number">
            </div>





            <div class="col-sm-12">
                <button class="btn btn-warning">SUBMIT</button>
            </div>

        </div>
    </div>
</div>