<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title"> Add Offers</h4>

            </div>
        </div>

        <div class="row">

            <div class="col-sm-4">
                <label for=""> Menu Name</label>
                <input type="text" class="form-control" placeholder="Enter Your Menu Name">
            </div>

            <div class="col-sm-4">
                <label for=""> Offer Location</label>
                <input type="text" class="form-control" placeholder="Enter Your Offer Location">
            </div>


            <div class="col-sm-4">
                <label for="">Offer Description </label>
                <input type="text" class="form-control" placeholder="Enter the Offer Description">
            </div>

            <div class="col-sm-4">
                <label for="">Banner Images </label>
                <input type="file" class="form-control" placeholder="Enter Your Banner Images">
            </div>

            <div class="col-sm-4">
                <label for="">Offer Price </label>
                <input type="number" class="form-control" placeholder="Enter Your Offer Price">
            </div>

            <div class="col-sm-4">
                <label for="">Actual Price </label>
                <input type="number" class="form-control" placeholder="Enter Your Actual Price">
            </div>

            <div class="col-sm-4">
                <label for="">Available Date </label>
                <input type="date" class="form-control" placeholder="Enter Your Available Date">
            </div>

            <div class="col-sm-4">
                <label for="">Available Time </label>
                <input type="time" class="form-control" placeholder="Enter Your Available Time">
            </div>

            <div class="col-sm-4">
                <label for="">Closing Time </label>
                <input type="time" class="form-control" placeholder="Enter Your Closing Time ">
            </div>

            <div class="col-sm-4">
                <label for="">Actual Price </label>
                <input type="file" class="form-control" placeholder="Enter Your Actual Price">
            </div>


            <div class="col-sm-4">
                <label for="">Show / Hide</label>
                <br> show
                <input type="radio"> Hide
                <input type="radio">
            </div>

            <div class="col-sm-4">
                <label for="">Status</label>
                <br> Active
                <input type="radio"> Inactive
                <input type="radio">
            </div>


            <div class="col-sm-12">
                <button class="btn btn-warning">SUBMIT</button>
            </div>

        </div>
    </div>
</div>