<h6 style="text-align: center;">ORDER DETAILS</h6>
<hr>
<div *ngIf="status == 'Pending'">
    <button style="    float: right;" (click)="Changename()" *ngIf="textfieldstatus == false">Change Name </button>

</div>
<p>Customer Name: {{details.customer_id.name}}</p>
<p>Customer Number & Address: {{details.customer_id.phone}}, {{details.customer_id.address}}</p>

<div class="row" *ngIf="textfieldstatus == true">
    <div class="col-sm-4">
        <label for="">Name</label>
        <input type="text" class="form-control" [(ngModel)]="name">
    </div>

    <div class="col-sm-4">
        <label for="">Address</label>
        <input type="text" class="form-control" [(ngModel)]="address">

    </div>
    <div class="col-sm-4">
        <label for="">Phone Number</label>
        <input type="text" class="form-control" [(ngModel)]="number">

    </div>
    <div class="col-sm-12">
        <button class="btn btn-info" style="    margin: 0 auto;
     display: block;
     margin-top: 23px;
     margin-bottom: 10px;" (click)="submitform()">Submit</button>
    </div>
</div>

<!-- <div *ngIf="changenamearray.length != 0">
    <hr>
    <p style="font-weight: bold; text-align: center;">Order Address changed</p>
    <div *ngFor="let changenamearray of changenamearray">
        <p>Name : {{changenamearray.name}}</p>
        <p>Phone : {{changenamearray.phone}}</p>
        <p>Address : {{changenamearray.address}}</p>

    </div>
    <hr>

</div> -->

<p>Booking ID : {{details.order_id}}</p>
<p>Total Amount : {{details.total_price}}</p>
<p>Payment Mode : {{details.order_pmode}}</p>
<p>Shop Name : {{sname}}</p>
<p>Shop Contact Number : {{sphone}}</p>
<button *ngIf="status == 'Assigned'" (click)="pending()" style="    float: right;">Reject Order</button>

<!-- <p>Shop Name : {{shopdetails.shop_id.shop_name}}</p> -->
<p *ngIf="!isStatus">Order Assigned to : {{dboyName}}</p>

<hr>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Produt</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let itemsss of itemresult;let i = index;">
            <th scope="row">{{i+1}}</th>
            <td>{{itemsss.name}}</td>
            <td>{{itemsss.qnty}}</td>
            <td>{{itemsss.price}}</td>
        </tr>

    </tbody>

</table>

<div *ngIf="isStatus">
    <label for="">Select a delivery Boy</label>
    <select [(ngModel)]="dboyid" class="form-control">
        <option *ngFor="let deliveryboys of deliveryboys" value="{{deliveryboys._id}}">{{deliveryboys.name}}</option>
    </select>
</div>


<div class="row" style="justify-content: center !important;margin-top: 30px;">
    <Button *ngIf="isStatus" class="btn btn-dark" (click)="assgin()">Assign</Button> &nbsp;
    <!-- <Button class="btn btn-success">Approve</Button>&nbsp; -->
    <Button *ngIf="isStatus" class="btn btn-danger" (click)="reject()">Reject</Button>
</div>