<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title"> Add General Shop Menu</h4>

            </div>
        </div>

        <div class="row">

            

            <div class="col-sm-4">
                <label for=""> Item Quantity </label>
                <input type="number" class="form-control" placeholder="Enter Your Item Quantity">
            </div>

            <div class="col-sm-4">
                <label for="">Item Price</label>
                <input type="number" class="form-control" placeholder="Enter Your Item Price">
            </div>

            
            <div class="col-sm-4">
                <label for="">Item Sales Rate</label>
                <input type="number" class="form-control" placeholder="Enter the Item Sales Rate">
            </div>

            <div class="col-sm-4">
                <label for="">Item MRP</label>
                <input type="number" class="form-control" placeholder="Enter the Item MRP">
            </div>

            <div class="col-sm-4">
                <label for="">Item Discount Amount</label>
                <input type="number" class="form-control" placeholder="Enter the Item Discount Amount">
            </div>

            <div class="col-sm-4">
                <label for="">Item Discount Percentage</label>
                <input type="number" class="form-control" placeholder="Enter the Item Discount Percentage">
            </div>

            <div class="col-sm-4" style="margin-top: 20px;">
                <label for="">Show / Hide</label>
                <br>
                show
                <input type="radio">
                Hide
                <input type="radio">
            </div>

            <div class="col-sm-4" style="margin-top: 20px;">
                <label for="">Status</label>
                <br>
                Active
                <input type="radio">
                Inactive
                <input type="radio">
            </div>



            <div class="col-sm-12">
                 <button class="btn btn-warning">SUBMIT</button>
            </div>

        </div>
    </div>
</div>
