<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title"> Add Shop</h4>

            </div>
        </div>

        <div class="row">

            <div class="col-sm-4">
                <label for="">Shop Name</label>
                <input type="text" class="form-control" placeholder="Enter Your Shop Name">
            </div>

            <div class="col-sm-4">
                <label for="">Shop Category </label>
                <input type="text" class="form-control" placeholder="Enter Your Shop Category">
            </div>

            <div class="col-sm-4">
                <label for="">Shop Address </label>
                <input type="text" class="form-control" placeholder="Enter Your Shop Address">
            </div>

            <div class="col-sm-4">
                <label for="">Shop Phone Number </label>
                <input type="number" class="form-control" placeholder="Enter Your Shop  Phone Number">
            </div>

            <div class="col-sm-4">
                <label for="">Shop Opening Time </label>
                <input type="time" class="form-control" placeholder="Enter Your Shop Opening Time">
            </div>

            <div class="col-sm-4">
                <label for="">Shop Closing Time </label>
                <input type="time" class="form-control" placeholder="Enter Your Shop Closing Time">
            </div>

            
            <div class="col-sm-4" >
                <label for="">Show / Hide</label>
                <br>
                show
                <input type="radio">
                Hide
                <input type="radio">
            </div>

            <div class="col-sm-4" >
                <label for="">Status</label>
                <br>
                Active
                <input type="radio">
                Inactive
                <input type="radio">
            </div>

            <div class="col-sm-4">
                <label for="">Minimum Order Value </label>
                <input type="number" class="form-control" placeholder="Enter Your Minimum Order Value">
            </div>

            <div class="col-sm-4">
                <label for="">Shop Discount % </label>
                <input type="number" class="form-control" placeholder="Enter Your Shop Discount %">
            </div>

            <div class="col-sm-4">
                <label for="">Pick-Up Charge</label>
                <input type="number" class="form-control" placeholder="Enter Your Pick-Up Charge">
            </div>

            <div class="col-sm-4">
                <label for="">Delivery Charge</label>
                <input type="number" class="form-control" placeholder="Enter Your Delivery Charge">
            </div>



            <div class="col-sm-12">
                 <button class="btn btn-warning">SUBMIT</button>
            </div>

        </div>
    </div>
</div>

