<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title"> Wallet Points</h4>

            </div>
        </div>

        <div class="row">

            <div class="col-sm-4">
                <label for="">Reward Points</label>
                <input type="number" class="form-control" placeholder="Enter Your Reward Points">
            </div>

            <div class="col-sm-4">
                <label for=""> Amount Value</label>
                <input type="number" class="form-control" placeholder="Enter Your  Amount Value">
            </div>

            <div class="col-sm-4">
                <label for=""> Redeem Amount</label>
                <input type="number" class="form-control" placeholder="Enter Your  Minimum Redeem Amount">
            </div>




            <div class="col-sm-12">
                <button class="btn btn-warning">SUBMIT</button>
            </div>

        </div>
    </div>
</div>